@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --primary-color: #a855f7;
    --dark-gray:#64748b;
    --medium-lime:#84cc16;
    --off-white:#9ca3af;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** link **/

.link {
    text-decoration: none;
    padding: 0.5rem,1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

/** list **/
/** BEM naming convention in css **/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem, 0.5rem;
}

/** navigation **/
.navigation {
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: right;

}

.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bold;
}

/** header **/

.hero{
    padding: 2rem;
    text-align: center;
    

}

.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/** sections **/

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
   
}

.ow{
    background-color: var(--off-white);
}

/** footer **/

.footer{
    background-color: var(--primary-color);
    padding: 2rem, 1rem;
    text-align: center;
    color:white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.footer .link{
    color:white;

}

.footer ul{
    padding-inline-start: 0px ;
}
